//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------

//
// Home
//
#nav-developers,
#home-developers {
    background: $brand-devs;
}
//
// Header
//
#main-header {
    #header-nav-row {
        @media screen and (min-width: $screen-sm-min) {
            background: url(/assets/img/bg-top.png) no-repeat left bottom #FFFFFF;
        }
    }
}
#brand-logo {
    a {
        img {
            @media screen and (min-width: $screen-tablet) {
                margin-top: 12px;
            }
        }
    }
}
#about-nav {
    @media screen and (min-width: $screen-tablet) {
        padding: 1.5rem;
    }
}

.compliant-suggestion-box {
    // float: right;

    // @media screen and (max-width: $screen-tablet) {
    //   float: none;
    //   margin-top: 2%;
    // }

    display: none;
}

.compliant-suggestion-box-ceara {
    float: right;

    @media screen and (max-width: $screen-tablet) {
      float: none;
      margin-top: 2%;
    }
}

@media screen and (max-width: 768px) {
    .submenu { display: none; }
    .session-menu { position: relative; }
    .session-menu .user { float: right; }
    .menu > li div.icon { position: relative; }
    .icon.icon-login::after, .icon.icon-login::before { position: absolute; }


    .login a { width: 100vw; }
    .icon.icon-login::before { left: 0vw; }
    .icon.icon-login::after { left: -1vw; }

    #filter-opportunitys > .ng-hide {
        display: block !important;
    }

    #filter-opportunitys .icon-show-advanced-search {
        display: none;
    }

    .alert.danger {
        display: none !important;
    }

    .registrations-table {
        display: table !important;
    }

    #widget-tags {
        display: none;
    }

    .notifications {
        display: none !important;
    }
}
/** #home-watermark {
    min-height: calc(100vh); // viewport height minus header height
    background: transparent url(../img/backgroud.png) no-repeat top;
    background-size: cover;
}*/

.evaluation-form {
    position: relative !important;
    width: 100% !important;
    overflow: visible !important;
    padding: 0px !important;
}
#registration-attachments{
    textarea{
        white-space: break-spaces;
        min-height: 75px;
    }
}

#sidebars:has(#registration-evaluation-form) {
    position: sticky;
    top: 0 !important;
    display: block !important;
    justify-content: space-between;
}
.sidebar-right:has(#registration-evaluation-form) {
    max-height: 100vh;
    overflow: auto;
}
@media (max-width: 1199px) {
    #sidebars {
        flex-direction: column;
    }
}
