.content {
    padding: 20px;
    line-height: 1.6;
}

.content p {
    margin: 0 0 15px;
}

.content ol {
    padding-left: 20px;
    list-style-type: none;
}

.content ul {
    padding-left: 20px;
    list-style-type: none;
}

.content ol li {
    margin-bottom: 10px;
}